<%= form_for(@order, remote: true, html: {class: 'form-horizontal well'}) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class="form-group">
        <%= f.label :quantity, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
            <%= f.number_field :quantity, class: 'form-input', required: 'required' %>
        </div>
    </div>
    <div class="form-group">
        <%= f.label :product, class: 'col-sm-3 control-label' %>
        <div class="col-sm-9">
            <%= f.collection_select(:product_id, Product.all, :id, :name_with_price, {}, {class: 'form-input'}) %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Price</label>
        <div class="col-sm-9">
            <%= text_field_tag nil, nil, class: 'form-input', disabled: 'disabled', id: 'order-price' %>
        </div>
    </div>

    <%= f.fields_for :customer, @order.customer do |c| %>
        <div class="form-group">
            <%= f.label :name, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :name, class: 'form-input', required: 'required' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :email, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :email, class: 'form-input', required: 'required' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :address, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :address, class: 'form-input', required: 'required' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :city, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :city, class: 'form-input', required: 'required' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :country, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :country, class: 'form-input', required: 'required' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :credit_card, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :credit_card, class: 'form-input', required: 'required' %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :expiry, class: 'col-sm-3 control-label' %>
            <div class="col-sm-9">
                <%= c.text_field :expiry, class: 'form-input', placeholder: 'mmyyyy', required: 'required' %>
            </div>
        </div>
    <% end %>

    <div class="form-group">
        <div class="col-sm-12">
            <%= f.submit value: 'go for moe', class: 'btn btn-success' %>
            <input type="reset" value="I'm not worthy" class="btn btn-warning">
        </div>
    </div>
<% end %>