<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <script src="//js.pusher.com/2.2/pusher.min.js"></script>
        <%= csrf_meta_tags %>

        <title>Flaming Moe</title>
    </head>

    <body>

        <div class="container">
            <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><%= link_to('home', root_path) %></li>
                        <li role="presentation"><a href="#">About</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Flaming Moe</h3>
            </div>

            <%= yield %>

            <footer class="footer">
                <p>&copy; Flaming Moe 2014</p>
            </footer>

        </div> <!-- /container -->

    </body>
</html>
